{{ define "main" }}
<html>

<head>
    {{ if (gt .Refresh 0) }}
    <meta http-equiv="refresh" content="{{ .Refresh }}">
    {{ end }}
    <link rel="stylesheet" href="/css/spectre.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>TeCOS Hacktoberfest leaderboard</title>
</head>

<body>
    <header class="navbar">
        <section class="navbar-section">
            <a href="/" class="btn btn-link">Leaderboard</a>
            <a href="/badges" class="btn btn-link">Badges</a>
        </section>
        <section class="navbar-center">
            <!-- <figure class="avatar avatar-xl s-rounded" style="background-color: white;"> -->
            <div class="title-icon">
                <img src="/img/hacktoberfest-icon.svg">
            </div>
            <!-- </figure> -->
        </section>
        <section class="navbar-section">
            <a href="#" class="btn btn-link">Twitter</a>
            <a href="#" class="btn btn-link">GitHub</a>     
        </section>
    </header>
    <div id="content">
        <h1>Hacktoberfest 2022</h1>
        {{ template "content" .Data }}
    </div>
</body>

</html>
{{ end }}