body{
	width:98%;
	margin:1%;
	text-align:justify;
	background-color:#06283D;
}

h1{
	text-align:center;
}

#content h1 {
	font-size: 80px;
	color:aliceblue;
	font-weight: 500;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 10px;
}
.subPart h2{
	color: aliceblue;
	font-weight: 400;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
}

.usernameText{
	font-weight: 400;
	font-size: 20px;
}
#githubLink{
	z-index: 10000;
	position:relative;
}

.subPart{
	margin-top:3%;
}

.member{
	margin:0.37%;
}

.panel-body{
  margin-top: 1.2rem;
}

.tile{
  margin: 1.2rem 0;
}

.card{
	word-break: break-word;
	margin: 10px;
    height: 250px;
	text-align: center;
	border-radius: 30px;
	background-color: #DFF6FF;
}
.navbar .title-icon {
	text-align: center;
}

.navbar .title-icon img {
	max-width: 8%;
	max-height: 8%;
}
